<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
-->

<mat-card fxFlex="1 1 auto" ngClass="app-card">

    <mat-card-header>
        <mat-icon mat-card-avatar>lock</mat-icon>
        <mat-card-title>Private</mat-card-title>
        <mat-card-subtitle>This is the information on your user
            that is stored in the Amazon Cognito User Pool</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="userDetailsForm" fxLayout="column">
            <div *ngFor="let detail of (userDetails | async)" fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput readonly placeholder="{{ detail.Name }}" [formControlName]="detail.Name">
                </mat-form-field>
            </div>
            <div>
                <div fxFlex></div>
                <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
                <div fxFlex></div>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <div fxFlex></div>
        <button mat-stroked-button color="primary" (click)="checkout()">
          <div fxFlex></div>
          <div *ngIf="!(busy | async)">Subscribe a plan</div>
          <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
          <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions>

    <mat-card-actions>
      <div fxFlex></div>
      <button mat-stroked-button color="primary" (click)="openCustomerPortal()">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">Open customer portal</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
      </button>
      <div fxFlex></div>
  </mat-card-actions>

    <mat-card-content>
      <form fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="New E-mail" [formControl]="newEmail" type="email" email name="newEmail"
            autocomplete="username email" />
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div fxFlex></div>
      <button mat-stroked-button color="primary" (click)="changeEmail()" [disabled]="(busy | async)">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">Change Email</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
      </button>
      <div fxFlex></div>
    </mat-card-actions>

    <mat-card-content>
      <form fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="CODE" [formControl]="code" name="code" />
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div fxFlex></div>
      <button mat-stroked-button color="primary" (click)="verifyCode()" [disabled]="(busy | async)">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">Verify Code</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
      </button>
      <div fxFlex></div>
    </mat-card-actions>

    <p *ngIf="errorMessage | async">{{ errorMessage | async }}</p>

    <mat-card-content fxLayout="row">
        <div fxFlex></div>
        <a routerLink='/sign-out' routerLinkActive="active">Sign out</a>
    </mat-card-content>

</mat-card>